<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="MusicTXT is a web-based music composing software."
    />
    <meta name="author" content="Kelian Li, Shan Jiang" />
    <title>MusicTXT Note Writer</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />

    <!-- load css here -->
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Your PDF file is not ready yet.</h1>
    <h1>Please press run button to get it.</h1>
  </body>
</html>
