textarea {
    resize: none;
    font-size: 15px;
  }

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
}

.right {
  right: 0;
}

